header#portal-header {
  position: relative;
  // justify-content: flex-end;
  background-color: #eff3f6;
  margin: 0 auto;
  z-index: 11;
  padding: 15px;
  .header-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--maxPageWidth);
    margin: 0 auto;
    h1 {
      font-size: 14px;
      text-transform: uppercase;
      color: var(--darkGray);
      font-weight: 600;
      visibility: hidden;
    }
    .logo-wrapper {
      width: 180px;
      img {
        width: 100%;
      }
    }

    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        li {
          display: flex;
          align-items: center;
          &.profile {
            position: relative;
            margin-left: 20px;
            padding-left: 20px;
            border-left: 1px solid #aaa9a9;
          }
          .profile-dropdown {
            position: absolute;
            top: 100%;
            width: 90%;
            right: 0;
            background-color: #ffffff;
            box-shadow: 0px 1px 1px 0px #0000000e;
            border: 1px solid #7776761f;
            border-radius: 4px;
            ul {
              display: flex;
              flex-direction: column;
            }
            button.dropdown-link-item {
              // color: var(--darkGray);
              width: 100%;
              text-align: left;
              padding: 12px 18px;
              height: 50px;
              display: flex;
              align-items: center;
              color: var(--black);
              border-radius: 0;
              &#logout {
                border-top: 1px solid #f4f6f9;
              }
              .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                  display: block;
                  height: 20px;
                  fill: var(--black);
                }
              }
            }
          }
        }
      }
    }

    button#profile {
      display: flex;
      align-items: center;
      background-color: transparent;
      // padding: 5px;
      // border-radius: 0;
      &:hover {
        background-color: #f4f6f9;
      }
      #profile__name {
        color: var(--darkGray);
        // color: #777676;
        font-weight: bold;
        margin: 0 5px;
      }
    }
    .icon-wrapper {
      position: relative;
      svg {
        height: 32px;
        fill: var(--darkGray);
        // fill: #aaa9a9;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #portal-header {
    display: none !important;
  }
}
