section.portal-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 2rem;
  .portal-body__header {
    padding-top: 45px;
    text-align: center;
    h1 {
      font-size: 32px;
      line-height: 48px;
      color: #3a3a3a;
    }
    p {
      line-height: 26px;
      font-size: 18px;
      margin-top: 10px;
    }
  }

  .portal-body__content-area {
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // margin-top: 40px;
    width: 100%;
  }
}
