#account-information.modal {
  max-width: 740px;

  .modal__header {
    max-width: 610px;
    margin: 0 auto;
    .header-content-area {
      padding: 15px;
    }
  }

  #main-content-area {
    // padding: 10px 0;
    max-width: 540px;
    margin: 20px auto;
    .modal__body {
      padding: 10px 0;
    }

    .modal__footer {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      button {
        border: 1px solid;
        border: none;
        font-size: 13px;
        width: min-content;
        // border-color: var(--gray);
        display: flex;
        align-items: center;
        span {
          color: inherit;
        }
        .icon-wrapper {
          display: block;
          svg {
            display: block;
            fill: #ffffff;
            height: 22px;
          }
        }

        &#back {
          color: var(--black);
          padding: 8px 4px;
          .icon-wrapper {
            // margin-right: 4px;
          }
          svg {
            fill: #7f7f7f;
            // fill: var(--black);
          }
        }
        &#next {
          padding: 8px 14px;
          color: #ffffff;

          background-color: var(--blue);
          // border-color: var(--blue);
          .icon-wrapper {
            margin-left: 4px;
            margin-right: -8px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #account-information.modal {
    .form-step {
      .step-title {
        text-align: center;
        max-width: 80px;
        font-size: 12px;
        line-height: 17px;
      }
    }
  }
}
