#portal-dashboard {
  position: relative;
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #portal-dashboard {
    height: initial;
    grid-template-columns: 1fr;
  }
}
