#share-modal {
  // position: relative;
  max-width: 540px;
  .url-preview-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 13px;
    .preview-box {
      font-size: inherit;
      background-color: #ededed;
      padding: 10px 16px;
    }
    button.copy-url {
      padding: 12px;
      font-size: inherit;
      background-color: none;

      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-weight: bold;
        font-size: inherit;
        color: var(--blue);
      }
      .icon-wrapper {
        margin-left: 5px;
        svg {
          fill: var(--blue);
        }
      }
    }
  }
}
