.form-field {
  width: 100%;
  margin-top: 15px;
  // padding: 8px 0;
  // input,
  // select,
  // textarea,
  // .MuiSelect-select,
  // .MuiSelect {
  //   font-size: 0.8rem;
  // }
  // .MuiInputLabel-root {
  //   font-size: 0.8rem;
  //   opacity: 0.65;
  // }
  // .MuiFormHelperText-root {
  //   font-size: 0.67rem;
  // }
  // .helper-text {
  //   color: rgba(0, 0, 0, 0.6);
  //   font-weight: 400;
  //   font-size: 0.75rem;
  //   line-height: 1.66;
  //   letter-spacing: 0.03333em;
  //   text-align: left;
  //   margin: 4px 14px 0px;
  // }
  .MuiFormLabel-root-MuiInputLabel-root {
    font-size: 11px !important;
  }

  .MuiInputBase-root-MuiInput-root:before {
    border-bottom: 1px solid #00000021;
  }
  &.no-margin {
    margin-top: 0px;
  }
  .error {
    color: var(--red);
    font-size: 0.7rem !important;
  }
}
