.portal-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portal-body .portal-body__header {
  padding-top: 45px;
  text-align: center;
}

.portal-body .portal-body__header h1 {
  font-size: 32px;
  line-height: 48px;
  color: #3a3a3a;
}

.portal-body .portal-body__header p {
  line-height: 26px;
  font-size: 18px;
  margin-top: 10px;
}

.portal-body .portal-body__content-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.portal-body .portal-body__content-area .portal-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 0 40px;
}

.portal-body .portal-body__content-area .portal-row-item h2 {
  font-size: 15px;
  color: var(--blue);
  font-weight: 500;
}

.portal-body .portal-body__content-area .card-item {
  -webkit-box-shadow: -2px 2px 2px 0px #00000014;
          box-shadow: -2px 2px 2px 0px #00000014;
  margin: 15px 0;
  padding: 18px 20px;
  width: 100%;
  max-width: 380px;
  border-radius: 8px;
  border: 1px solid #ededed;
}

.portal-body .portal-body__content-area .card-item h3 {
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.portal-body .portal-body__content-area .card-item .card-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portal-body .portal-body__content-area .card-item .card-button-wrapper span {
  font-weight: bold;
  font-size: 12px;
  color: #235685;
}

.portal-body .portal-body__content-area .card-item .card-button-wrapper button.card-button {
  width: 32px;
  height: 32px;
  border: 2px solid #235685;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 6px;
}

.portal-body .portal-body__content-area .card-item .card-button-wrapper button.card-button:hover {
  background: var(--blueHover);
  -webkit-transition: 50ms;
  transition: 50ms;
}

.portal-body .portal-body__content-area .card-item .card-button-wrapper button.card-button:hover svg {
  fill: #ffffff;
}

.portal-body .portal-body__content-area .card-item .card-button-wrapper button.card-button svg {
  -webkit-transition: 50ms;
  transition: 50ms;
  fill: #235685;
  height: 18px;
}
/*# sourceMappingURL=PortalMainBody.css.map */